body {
  background-color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-clock h1 {
  color: white;
  font-size: 42px;
}
.js-form input {
  border: none;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 32px;
  padding: 15px 25px;
  font-size: 18px;
  margin-bottom: 15px;
}
.js-form input:focus {
  outline: none;
}
.js-greetings {
  color: white;
  font-size: 32px;
}
.js-toDoForm input {
  border: none;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 32px;
  padding: 15px 25px;
  font-size: 18px;
}
.js-toDoForm input:focus {
  outline: none;
}

.js-toDoList {
  list-style: none;
  padding-left: 0px;
  margin: 15px 50px;
}

.js-toDoList span {
  color: white;
}

.js-toDoList button:hover {
  opacity: 0.5;
}

.js-toDoList button {
  background: none;
  border: none;
}

.js-weather {
  color: white;
  margin: 30px 0px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
